<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/font-awesome.css" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="icon" href="static/images/favicon.png" />
    <title>Welcome To BITS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="static/images/logo.png" alt="" height="100" width="400" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#solutions">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#details">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#expertise">Expertise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
          </ul>
          <span class="nav-item">
            <span class="fa-stack">
              <a href="https://facebook.com" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x text-white"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="https://twitter.com" target="_blank">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x text-white"></i>
              </a>
            </span>
          </span>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="header position-relative">
      <!-- <img
        src="static/images/vertical-decoration-left.svg"
        alt=""
        class="vertical-decoration position-absolute d-none d-md-block"
      /> -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 pt-5">
            <h1 class="xl-text mt-5">
              Software Solutions For
              <span class="text-primary fw-bold replace-me"
                >Small Business, Startups, Contractors</span
              >
            </h1>
            <p class="lead">
              Boost your business with cutting-edge software solutions tailored
              to the needs of small businesses and contractors.
            </p>
            <a href="#" class="btn btn-primary text-white">Lear More</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Form Area -->
    <section id="contact" class="contact my-7">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="fw-bold">Get More Information</h2>
            <hr class="hr-heading" />
            <p class="lead">
              We provide innovative software solutions that empower small
              businesses to thrive in the digital era.
            </p>
            <ul class="list-unstyled lh-lg">
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Customized Solutions: </strong> Our solutions are
                  designed to meet your specific business needs, ensuring
                  maximum efficiency and productivity.
                </div>
              </li>
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Seamless Integration:</strong> We seamlessly integrate
                  our software with your existing systems, minimizing
                  disruptions and optimizing workflows.
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-5 offset-md-1">
            <form>
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control bg-secondary"
                  placeholder="Enter name"
                />
              </div>
              <div class="mb-4">
                <input
                  type="email"
                  class="form-control bg-secondary"
                  placeholder="Enter email"
                />
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control bg-secondary"
                  placeholder="Enter phone"
                />
              </div>
              <div class="mb-4">
                <select
                  name="interested"
                  id="interested"
                  class="form-control bg-secondary"
                >
                  <option>Interested In...</option>
                  <option value="website">Custom Websites</option>
                  <option value="support">Support Services</option>
                  <option value="software">Custom Software</option>
                  <option value="rpa">Process Automation</option>
                </select>
              </div>
              <div class="mb-4 form-check">
                <input type="checkbox" id="agree-check" />
                <label for="agree-check" class="form-check-label">
                  I agree to the <a href="privacy.html">Privacy Policy</a>
                </label>
              </div>
              <div class="d-grid gap-2">
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-primary text-white"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Solutions -->
    <section id="solutions" class="solutions my-5">
      <div class="container">
        <div class="row mb-4">
          <div
            class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center"
          >
            <h5>
              <span class="badge bg-primary rounded-0 text-uppercase">
                Solutions
              </span>
            </h5>
            <h2 class="fw-bold">
              BITS Provides Software Solutions For Business Acceleration
            </h2>
          </div>
        </div>
        <!-- Solutions Row 1 -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card bg-secondary">
              <img src="static/images/solution-1.jpg" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title fw-bold">Custom Websites</h5>
                <p class="card-text">
                  Our websites present your business as unique. All websites are
                  custom built and do not rely on canned solutions such as
                  WordPress.
                </p>
                <div class="badge bg-primary p-2 text-uppercase">
                  Management
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card bg-secondary">
              <img src="static/images/solution-2.jpg" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title fw-bold">
                  Support Services & Consultancy
                </h5>
                <p class="card-text">
                  Whether hardware related or software related, BITS will
                  provide timely assistance solving your tech issues.
                </p>
                <div class="badge bg-dark p-2 text-uppercase">Marketing</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Solutions Row 2 -->
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="card bg-secondary">
              <img src="static/images/solution-3.jpg" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title fw-bold">Custom Software Solutions</h5>
                <p class="card-text">
                  Solutions which seamlessly integrate with exisiting
                  software or are standalone and come with training and ongoing
                  support.
                </p>
                <div class="badge bg-primary p-2 text-uppercase">
                  Management
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="card bg-secondary">
              <img src="static/images/solution-4.jpg" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title fw-bold">Process Automation</h5>
                <p class="card-text">
                  Robotic Process Automation designed to maximize workflows, and
                  reduce time spent on routine, mundane tasks.
                </p>
                <div class="badge bg-dark p-2 text-uppercase">Marketing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Details 1 -->
    <section id="details" class="details my-5 position-relative">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-6">
            <h2 class="fw-bold">Evaluation & Deployment</h2>
            <hr class="hr-heading" />
            <p>
              We offer comprehensive evaluation and deployment services to
              ensure a smooth and successful implementation of our software
              solutions.
            </p>
            <ul class="list-unstyled lh-lg">
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Customized solutions: </strong>We tailor our solutions
                  to align with your unique business needs
                </div>
              </li>
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Seamless Integration:</strong> Our team ensures smooth
                  integration of the software into your existing infrastructure,
                  minimizing disruptions
                </div>
              </li>
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Deployment & Hosting:</strong> Our team manages all
                  aspects of website deployment, from domain and search engine
                  registration to hosting and deployment.
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <img
              src="static/images/details-1.jpg"
              alt=""
              class="img-fluid rounded-2"
            />
          </div>
        </div>
      </div>
      <img
        src="static/images/vertical-decoration-left.svg"
        alt=""
        class="vertical-decoration position-absolute d-none d-md-block"
      />
    </section>

    <!-- Details 2 -->
    <section class="details-2 my-5 position-relative">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-6">
            <img
              src="static/images/details-2.jpg"
              alt=""
              class="img-fluid rounded-2"
            />
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bold">Maintenance & Support</h2>
            <hr class="hr-heading" />
            <p>
              We provide comprehensive maintenance and support services to
              ensure the smooth and uninterrupted operation of your software
              solutions. <a href="#">Learn more about our support services.</a>
            </p>
            <ul class="list-unstyled lh-lg">
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Proactive Maintenance:</strong> We proactively monitor
                  and maintain your software solutions to prevent issues and
                  optimize performance.
                </div>
              </li>
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Timely Updates:</strong> We ensure your software is up
                  to date with the latest features, security patches, and
                  enhancements.
                </div>
              </li>
              <li class="d-flex align-items-center">
                <i class="fas fa-check text-primary mx-3"></i>
                <div>
                  <strong>Tech Support:</strong> We work with you to solve
                  hardware and software related issues and answer whatever tech
                  questions you may have.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <img
        src="static/images/vertical-decoration-right.svg"
        alt=""
        class="vertical-decoration position-absolute d-none d-md-block"
      />
    </section>

    <!-- Expertise -->
    <section id="expertise" class="expertise bg-secondary py-5 my-6">
      <div class="container">
        <div class="row mb-5">
          <div
            class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center"
          >
            <h5>
              <span class="badge bg-primary rounded-0 text-uppercase"
                >Expertise</span
              >
            </h5>
            <h2 class="fw-bold">Expertise Strong Points</h2>
            <p>
              We take pride in our expertise. With years of experience and a
              dedicated team, we deliver exceptional software solutions tailored
              to your needs. Our strong points include:
            </p>
          </div>
        </div>
        <!-- Expertise Row 1 -->
        <div class="row">
          <div class="col-md-3">
            <div class="card bg-transparent border-0 text-center mb-3">
              <div class="card-image">
                <i class="fas fa-cog fa-5x text-primary"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Flexible Services</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-transparent border-0 text-center mb-3">
              <div class="card-image">
                <i class="fas fa-desktop fa-5x text-primary"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Great Design</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-transparent border-0 text-center mb-3">
              <div class="card-image">
                <i class="fas fa-wifi fa-5x text-primary"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Advanced Tech</h4>
                <p>Emphasis is placed on the user experience.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-transparent border-0 text-center mb-3">
              <div class="card-image">
                <i class="fas fa-lightbulb fa-5x text-primary"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">Smart Options</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Pricing -->
    <section id="pricing" class="pricing my-6">
      <div class="container">
        <div class="row mb-4">
          <div
            class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center"
          >
            <h5>
              <span class="badge bg-primary rounded-0 text-uppercase">
                Pricing
              </span>
            </h5>
            <h2 class="fw-bold">Flexible Pricing Options</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Pricing Col 1 -->
          <div class="col-md-3">
            <div class="card bg-secondary text-center rounded-0">
              <div class="card-body">
                <div class="xl-text fw-bold">$0</div>
                <h4 class="card-title text-primary text-uppercase fw-bold mb-5">
                  Website
                </h4>
                <p>
                  Pricing based on percentage of business generated by website
                  after it is deployed.
                </p>
                <ul class="list-unstyled lh-lg mt-5">
                  <li class="text-uppercase fs-5 fw-bold">Single Page</li>
                  <li class="text-uppercase fs-5 fw-bold">Email</li>
                  <li class="text-uppercase fs-5 fw-bold">Support</li>
                </ul>
                <a
                  href="#contact"
                  class="btn btn-primary text-white mt-6 fw-bold"
                  >Inquire</a
                >
              </div>
            </div>
          </div>

          <!-- Pricing Col 2 -->
          <div class="col-md-3">
            <div class="card bg-secondary text-center rounded-0">
              <div class="card-body">
                <div class="xl-text fw-bold">$199</div>
                <h4 class="card-title text-primary text-uppercase fw-bold mb-5">
                  Application
                </h4>
                <p>
                  Custom built software applications designed to solve unique
                  requirements.
                </p>
                <ul class="list-unstyled lh-lg mt-5">
                  <li class="text-uppercase fs-5 fw-bold">Source Code</li>
                  <li class="text-uppercase fs-5 fw-bold">Training</li>
                  <li class="text-uppercase fs-5 fw-bold">Support</li>
                </ul>
                <a
                  href="#contact"
                  class="btn btn-primary text-white mt-6 fw-bold"
                  >Inquire</a
                >
              </div>
            </div>
          </div>

          <!-- Pricing Col 3 -->
          <div class="col-md-3">
            <div class="card bg-secondary text-center rounded-0">
              <div class="card-body">
                <div class="xl-text fw-bold">$299</div>
                <h4 class="card-title text-primary text-uppercase fw-bold mb-5">
                  RPA
                </h4>
                <p>
                  Automate repetitive tasks that cost your business time and
                  money.
                </p>
                <ul class="list-unstyled lh-lg mt-5">
                  <li class="text-uppercase fs-5 fw-bold">Source Code</li>
                  <li class="text-uppercase fs-5 fw-bold">Training</li>
                  <li class="text-uppercase fs-5 fw-bold">Support</li>
                </ul>
                <a
                  href="#contact"
                  class="btn btn-primary text-white mt-6 fw-bold"
                  >Inquire</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Newsletter -->
    <section id="newsletter" class="newsletter my-6">
      <div class="container">
        <div class="row mb-4">
          <div
            class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center"
          >
            <h2 class="fw-bold">Subscribe And Follow</h2>
            <p>
              Stay updated with our latest news and announcements. Subscribe to
              our newsletter and follow us on social media for valuable insights
              and exciting updates.
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-6 offset-md-3 d-flex flex-column align-items-center text-center"
          >
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control rounded-2"
                placeholder="Enter Email Address"
              />
              <button
                class="btn btn-primary text-white rounded-2"
                type="button"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-secondary py-6">
      <div class="container">
        <div class="row">
          <div class="col-md-4 my-3">
            <h6>About Baileytech (BITS)</h6>
            <p>
              BITS is a software solution company that is dedicated to
              providing exceptional services to its clients in the Mississippi
              Gulf Coast area. We are committed to delivering innovative and
              customized solutions that meet the unique needs of small businesses
              and make Gulf Coast small businesses competitive and profitable.
            </p>
          </div>
          <div class="col-md-4 my-3">
            <h6>Links</h6>
            <ul class="list-unstyled">
              <li>
                Important: <a href="#">Terms & Conditions</a>,
                <a href="privacy.html">Privacy Policy</a>
              </li>
              <li>
                Useful: <a href="index.html#expertise">Expertise</a>,
                <a href="index.html#pricing">Pricing</a>,
                <a href="index.html#newsletter">Newsletter</a>
              </li>
              <li>
                Menu: <a href="index.html">Home</a>,
                <a href="index.html#details">Details</a>,
                <a href="index.html#solutions">Solutions</a>,
              </li>
            </ul>
          </div>
          <div class="col-md-4 my-3">
            <div class="mb-4">
              <a href="#" class="text-decoration-none">
                <i class="fab fa-facebook fa-3x text-light mx-2"></i>
              </a>
              <a href="#" class="text-decoration-none">
                <i class="fab fa-twitter fa-3x text-light mx-2"></i>
              </a>
              <a href="#" class="text-decoration-none">
                <i class="fab fa-instagram fa-3x text-light mx-2"></i>
              </a>
              <a href="#" class="text-decoration-none">
                <i class="fab fa-pinterest fa-3x text-light mx-2"></i>
              </a>
            </div>
            <p>
              We would love to hear from you
              <a href="mailto:chrismazza@baileytech.tech"
                ><strong>contact@site.com</strong></a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="static/js/replaceme.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
